<% content_for(:head) do %>
  <%= dato_meta_tags(season) %>
<% end %>

<div class="wrap">
  <section class="section">
    <div class="season">
      <div class="season__image">
        <%= image_tag season.image.file.width(400).to_url %>
      </div>
      <div class="season__content">
        <h2 class="season__title"><%= season.name %></h2>
        <%= markdown season.overview %>
        <hr/>
        <div class="grid">
          <% dato.episodes.select { |e| e.season == season }.sort_by(&:episode_number).each do |episode| %>
            <div class="grid__cell grid__cell--50">
              <%= partial "partials/episode_preview", locals: { episode: episode } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
